# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\cognizant\Java Advanced Learning Path - Stage 2\Spring,Core & Maven\Hands-On\Customer-Address-Scope\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
